.btn {
  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .03em;
  text-decoration: none;
  color: #fff;
  background-color: #f5543f;
  border-radius: 8px;
}

.btn--large {
  width: 100%;
  max-width: 304px;

  padding-top: 22px;
  padding-bottom: 22px;

  text-transform: uppercase;

  border: 0;

  @media (min-width: $mobile-land) {
    max-width: initial;
  }
}

.btn--max {
  padding-top: 28px;
  padding-bottom: 28px;
}

.btn--load {
  color: $basic-blue;

  letter-spacing: 0.03em;

  background-color: transparent;
  border: 2px solid $basic-blue;

  @media (min-width: $mobile-land) {
    max-width: 260px;
    margin-left: auto;
  }
}

.btn--example {
  @media (min-width: $mobile-land) {
    // width: initial;
    max-width: 165px;

    padding-top: 21px;
    padding-bottom: 21px;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;


  }
}
