.case-stats {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;

  color: $basic-white;

  background-color: rgba($basic-blue, 0.5);

  @media (min-width: $mobile-land) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 52px;
    padding-right: 39px;
  }

  &--fullscreen {
    padding-left: 16px;

    @media (min-width: $mobile-land) {
      padding-left: 80px;
    }
  }

}
