.company-stats {
  .wrapper {

    padding-top: 40px;
    padding-bottom: 40px;

    background: $basic-background;
    border-radius: 20px;

    @media (min-width: $mobile-land) {
      padding-top: 44px;
      padding-bottom: 42px;
    }
  }
}
