.contact {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 18px;

  * + * {
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: $basic-white;
  }

  a:first-of-type {
    margin-top: 24px;
  }

  address {
    max-width: 188px;
    font-style: normal;
  }
}

