.content {
  .wrapper {
    font-size: 16px;
    color: $basic-black;
  }

  time {
    font-weight: 700;
    color: $special-time-gray;
    line-height: 18.75px;
  }

  p {
    font-weight: 400;
    line-height: 20.8px;
  }

  p + p {
    margin-top: 12px;
  }

  p:first-of-type {
    margin-top: 24px;
  }

  img {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  picture:last-of-type img {
    margin-bottom: 0;
  }
}

.content__social {
  margin-top: 24px;
}
