.features {
  // padding-top: 52px;
  // padding-bottom: 52px;

  h2 {
  // font-family: Roboto, Arial, Helvetica, sans-serif;

  }
}

.features__list {
  @include reset-list;

  margin-top: 28px;

  font-style: normal;
  font-size: 14px;
  line-height: 130%;

  color: $basic-black;

  li {
    display: flex;

    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 17px;

    border-radius: 20px;

    background-color: #F7F9FC;

    @media (min-width: $mobile-land) {
      align-items: center;

      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 43px;
      padding-right: 32px;
    }
  }

  li + li {
    margin-top: 8px;

    @media (min-width: $mobile-land) {
      margin-top: 16px;
    }
  }

  span {
    font-weight: bold;
  }

  p {
    margin-top: 8px;
    font-weight: normal;
  }
}

.features__icon {
  align-self: center;

  min-width: 48px;
  margin-right: 14px;
  fill: transparent;

  @media (min-width: $mobile-land) {
    width: 65px;
    height: auto;
    min-width: 65px;

    margin-right: 22px;
  }
}
