.feature-list {
  @include reset-list;

  .heading {
    font-weight: bold;
    font-size: $font-size-16;
    line-height: 19px;
    color: $basic-darkgray;
    text-transform: none;

  }
}

.feature-list__item {
  padding: 24px;

  background: $basic-background;
  border-radius: 20px;

  @media (min-width: $mobile-land) {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
  }

  p {
    max-width: 261px;

    @media (min-width: $mobile-land) {
      max-width: initial;
    }
  }

  p + p {
    margin-top: 8px;
  }
}

.feature-list__item + .feature-list__item {
  margin-top: 8px;

  @media (min-width: $mobile-land) {
    margin-top: 16px;
  }
}

.feature-list__heading {
  margin-bottom: 12px;
}

.feature-list__img {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}
