.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $basic-blue;

  &--light {
    color: $basic-white;
    letter-spacing: 0.025em;
  }

  &--subhead {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: normal;
    text-transform: none;
  }
}

