.help-us {
  background-color: #F7F9FC;
}

.help-us__block {
  margin-top: 20px;

  @media (min-width: $mobile-land) {
    margin-top: 32px;
  }
}

.help-us__constructor {
  margin-top: 28px;

  @media (min-width: $mobile-land) {
    margin-top: 35px;
  }

  @media (min-width: $tablet) {
    margin-top: 40px;
  }
}

.help-us__block h3 {
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $mobile-land) {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 28.13px;
  }
}

.help-us__block p {
  font-size: $font-size-14;
  line-height: 18.2px;

  @media (min-width: $tablet) {
    font-size: $font-size-16;
    line-height: 20.8px;
  }
}

.help-us__block p + p {
  margin-top: 8px;

  @media (min-width: $tablet) {
    margin-top: 12px;
  }
}

.help-us__block b {
  color: $basic-black;
}

.help-us__block img {
  margin-top: 20px;

  @media (min-width: $mobile-land) {
    margin-top: 32px;
  }
}

.help-us__list {
  @include reset-list;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin-bottom: 16px;
  }

  li {
    display: flex;

    margin-bottom: 0;

    font-size: $font-size-14;
    font-weight: 700;
    line-height: 16.41px;
    color: $basic-black;

    @media (min-width: $mobile-land) {
      max-width: 470px;
      align-items: center;
    }

    @media (min-width: $tablet) {
      max-width: 670px;
      font-size: $font-size-16;
      line-height: 18.75px;
    }
  }

  li + li {
    margin-top: 12px;

    @media (min-width: $mobile-land) {
      margin-top: 8px;
    }

    @media (min-width: $tablet) {
      margin-top: 12px;
    }
  }

  li::before {
    content: '';
    display: block;
    min-width: 32px;
    width: 32px;
    height: 32px;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 0;
    background-image: url('../../img/icons/list-marker.svg');
    background-repeat: no-repeat;
  }
}
