.info {
  padding-bottom: 60px;

  background-image: url('../img/more-info-mobile-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  color: $basic-white;

  @media (min-width: $mobile-land) {
    padding-bottom: 47px;

    background-image: url('../img/more-info-mobile-land-background.jpg');
  }

  // &--top {
  //   background-image: url('../img/promo-mobile_bg.jpg');
  // }

  h1 {
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media (min-width: $mobile-land) {
      max-width: 431px;
    }
  }

  p {
    margin-top: 28px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    @media (min-width: $mobile-land) {
      margin-top: 16px;
    }
  }

  a {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 28px;
    padding-bottom: 28px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;

    color: $basic-white;
    background-color: $basic-orange;

    border-radius: 8px;
  }
}


.info--top {
  padding-top: 152px;
  background-image: url('../img/promo-mobile_bg.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/promo-mobile_bg@2x.jpg');
  }

  @media (min-width: $mobile-land) {
    padding-top: 40px;
    background-image: url('../img/promo-mobile-landspace_bg.jpg');

    @media (min-resolution: 2dppx) {
      background-image: url('../img/promo-mobile-landspace_bg@2x.jpg');
    }
  }

  p {
    margin-top: 16px;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;

    @media (min-width: $mobile-land) {
      margin-top: 22px;
    }
  }

  .btn {
    margin-top: 30px;
    max-width: 330px;
  }
}

.info__form {
  margin-top: 28px;

  @media (min-width: $mobile-land) {
    margin-top: 26px;
  }
}

.info__btn {
  margin-top: 8px;

  @media (min-width: $mobile-land) {
    margin-top: 12px;
  }
}

.info__form-wrap {
  @media (min-width: $mobile-land) {

    padding: 56px 48px;

    border-radius: 20px;
    background-color: $basic-background;

    .heading--light {
      max-width: 307px;
      color: $basic-blue;
    }

    p {
      color: $basic-black;
    }
  }
}
