.info {
  padding-bottom: 60px;

  background-image: url('../img/more-info-mobile-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  color: $basic-white;

  h1 {
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  p {
    margin-top: 28px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
  }

  a {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 28px;
    padding-bottom: 28px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;

    color: $basic-white;
    background-color: $basic-orange;

    border-radius: 8px;
  }
}


.info--top {
  padding-top: 152px;

  p {
    margin-top: 16px;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
  }
}

.info__form {
  margin-top: 28px;
}
