.input-text {
  display: flex;
  width: 100%;

  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 25px;

  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  box-sizing: border-box;
  border-radius: 8px;

  @media (min-width: $tablet) {
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 29px;
  }
}

.input-text--example {
  @media (min-width: $mobile-land) {
    max-width: 298px;

    padding-top: 21px;
    padding-bottom: 20px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-right-width: 0;
  }
}
