.intro {
  background-image: url('../../img/cases-background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 57px;
  padding-bottom: 56px;

  @media (min-resolution: 2dppx) {
    background-image: url('../../img/cases-background-mobile@2x.jpg');
  }

  @media (min-width: $mobile-land) {
    padding-top: 78px;
    padding-bottom: 78px;

    background-image: url('../../img/cases-background-mobile-land.jpg');

    @media (min-resolution: 2dppx) {
      background-image: url('../../img/cases-background-mobile-land@2x.jpg');
    }
  }

  .wrapper {
    padding-left: 49px;
  }
}

.intro--article {
  .wrapper {
    padding-left: 0;
  }
}

.intro--about {
  background-image: url('../../img/about-company-mobile-bg.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../../img/about-company-mobile-bg@2x.jpg');
  }

  @media (min-width: $mobile-land) {
    background-image: url('../../img/about-company-mobile-land-bg.jpg');

    @media (min-resolution: 2dppx) {
      background-image: url('../../img/about-company-mobile-land-bg@2x.jpg');
    }
  }

  .wrapper {
    padding-left: 19px;
  }
}

.intro--contacts {
  background-image: url('../../img/contacts-header-bg.jpg');

  .wrapper {
    padding-left: 27px;
  }
}

