.intro {
  background-image: url('../../img/cases-background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 57px;
  padding-bottom: 56px;

  .wrapper {
    padding-left: 49px;
  }
}
