.main-menu {
  width: 100%;

  @media (min-width: $mobile-land) {
    max-width: 331px;

    position: absolute;
    top: 87px;
    right: -16px;
    background-color: $basic-blue;

    z-index: 1;
  }

  @media (min-width: $tablet) {
    right: -30px;
  }
}

.main-menu__button {
  background-color: transparent;
  border: 0;
  padding: 0;
  font-size: 0;

  cursor: pointer;

  position: absolute;
  top: 7px;
  right: 0;

  @media (min-width: $mobile-land) {
    position: absolute;
    top: -80px;
    right: 12px;
  }

  @media (min-width: $tablet) {
    right: 29px;
  }
}

.main-menu__list {
  @include reset-list;

  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 44px;
  margin-left: 106px;
  margin-right: auto;
  margin-bottom: 42px;

  &--opened {
    display: flex;
  }

  @media (min-width: $mobile-land) {

  }

  @media (min-width: $tablet) {
    margin-top: 60px;
    margin-bottom: 67px;
  }
}

.main-menu__item {
  margin: 0;
}

.main-menu__item + .main-menu__item {
  margin-top: 40px;
}

.main-menu__link {
  margin: 0;

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  text-transform: uppercase;
  text-decoration: none;

  color: $basic-white;

  &--active {
    font-weight: bold;
    padding-bottom: 10px;
    box-shadow: 0 3px 0 $basic-orange;
  }
}
