.news {
  @media (min-width: $mobile-land) {
    max-width: 260px;
  }
}

.news + .news {
  margin-top: 8px;

  @media (min-width: $mobile-land) {
    margin-top: 0;
  }
}

.news:not(:nth-child(1)),
.news:not(:nth-child(2)) {
  @media (min-width: $mobile-land) {
    margin-top: 12px;
  }
}

.news__main {
  display: flex;
  flex-direction: column;

  padding-top: 18px;
  padding-right: 42.54px;
  padding-bottom: 34px;
  padding-left: 42.46px;

  background: $basic-background;
  border: 1px solid $article-border-color;
  border-radius: 0px 0px 20px 20px;

  font-size: 14px;

  @media (min-width: $mobile-land) {
    padding-top: 24px;
    padding-right: 18px;
    padding-bottom: 28px;
    padding-left: 27px;
  }

  * + * {
    margin-top: 12px;
  }

  a {
    text-decoration: none;
  }

  h3 {
    font-weight: bold;
    line-height: 16.41px;

    color: $basic-black;
  }

  p {
    line-height: 18px;

    color: $basic-black;
  }

  time {
    line-height: 18.2px;

    color: $special-time-gray;
  }
}

.news__btn-load {
  margin-top: 32px;

  @media (min-width: $mobile-land) {
    margin-top: 39px;
  }
}
