.page-main {

}

.page-main__section {
  padding-top: 52px;
  padding-bottom: 52px;

  @media (min-width: $mobile-land) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.page-main__clients {
  padding-top: 58px;
}

.page-main--content {
  padding-top: 47px;

  @media (min-width: $mobile-land) {
    padding-top: 56px;
  }
}

.page-main__section.company-stats {
  padding: 0;
}

.page-main__section.map {
  padding: 0;
}
