.questions {
  background-image: url('../img/question-mobile-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  color: $basic-white;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/question-mobile-background@2x.jpg');
  }

  p {
    margin-top: 28px;
    font-size: 14px;
    line-height: 130%;

    @media (min-width: $mobile-land) {
      max-width: 336px;
    }
  }

  @media (min-width: $mobile-land) {
    background-image: url('../img/question-mobile-land-background.jpg');

    @media (min-resolution: 2dppx) {
      background-image: url('../img/question-mobile-land-background@2x.jpg');
    }

    .wrapper {
      padding-right: 70px;
    }
  }

}

.questions__form {
  margin-top: 24px;

  .form__input + .form__input {
    margin-top: 12px;
  }
}

.questions__btn {
  margin-top: 12px;
}
