.social {
  @include reset-list;
  display: flex;
  justify-content: space-between;
}

.social__item {
  font-size: 0;
}

.social__item + .social__item {
  @media (min-width: $mobile-land) {
    margin-left: 16.04px;
  }
}

.social__link {
  display: flex;
}

.social__icon {
  fill: transparent;
}
