.stats-list {
  @include reset-list;

  padding-left: 53px;

  font-weight: 900;
  font-size: 34px;
  line-height: 40px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $basic-blue;

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: normal;
    text-transform: none;

    color: $basic-black;
  }

  @media(min-width: $mobile-land){
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 35px;

    padding-left: 47px;
    padding-right: 43px;
  }
}

.stats-list__item {
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-land) {
    flex-basis: 50%;
  }
}

.stats-list__item + .stats-list__item {
  margin-top: 24px;

  @media(min-width: $mobile-land){
    margin-top: 0;
  }
}
