.stats-list {
  @include reset-list;

  padding-left: 53px;

  font-weight: 900;
  font-size: 34px;
  line-height: 40px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: $basic-blue;

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    letter-spacing: normal;
    text-transform: none;

    color: $basic-black;
  }
}

.stats-list__item {
  display: flex;
  flex-direction: column;
}

.stats-list__item + .stats-list__item {
  margin-top: 24px;
}
