.statistics-list {
  @include reset-list;
}

.statistics-list__item {
  display: flex;
  align-items: center;

  * + * {
    margin-left: 6px;

    @media (min-width: $mobile-land) {
      margin-left: 31px;
    }
  }

  span {
    min-width: 62px;

    font-size: 24px;
    line-height: 31px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: right;

    color: $list-accent;

    @media (min-width: $mobile-land) {
      min-width: 90px;

      font-weight: 900;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.05em;
    }
  }
}

.case-stats--fullscreen .statistics-list__item {
  * + * {
    margin-left: 0;

    @media (min-width: $mobile-land) {
      margin-left: 31px;
    }
  }

  span {
    text-align: left;
  }
}

.statistics-list__item + .statistics-list__item {
  margin-top: 12px;

  @media (min-width: $mobile-land) {
    margin-top: 22px;
  }
}
