.steps {
  padding-bottom: 0;

  .heading {
    font-weight: bold;
    font-size: $font-size-24;

    line-height: 31px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $basic-blue;

    @media (min-width: $tablet) {
      font-size: $font-size-36;
      line-height: 50.4px;
    }
  }
}


