.steps-list {
  @include reset-list;
  margin-top: 28px;

  font-size: $font-size-14;
  line-height: 18px;

  counter-reset: section;

  @media (min-width: $tablet) {
    font-size: $font-size-16;
    line-height: 18.75px;
  }
}

.steps-list__item {
  display: flex;
  flex-direction: column;
  position: relative;

  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 75px;


  background: $basic-background;
  border-radius: 20px;

  @media (min-width: $mobile-land) {
    padding: 34px;
    padding-left: 151px;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
    column-gap: 57px;

    padding-top: 46px;
    padding-bottom: 46px;
    padding-left: 144px;

  }

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    left: 17px;

    width: 42px;
    height: 42px;

    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

    color: #0039A9;

    background-color: #fff;

    border: 2px solid #0039A9;
    border-radius: 50%;

    counter-increment: section;
    content: counters(section,".") " ";

    z-index: 3;

    @media (min-width: $mobile-land) {
      left: 44px;
      width: 56px;
      height: 56px;

      font-size: 20px;
      line-height: 23px;

      border-width: 3px;
    }

    @media (min-width: $tablet) {
      top: 48px;
      left: 37px;

      width: 65px;
      height: 65px;

      font-size: 24px;
      line-height: 28.13px;
    }
  }

  &::after {
    content: '';

    display: flex;

    position: absolute;
    top: 66px;
    left: 38px;

    width: 2px;
    height: 100%;

    background-color: #0039A9;

    z-index: 2;

    @media (min-width: $mobile-land) {
      left: 71px;
      width: 3px;
    }

    @media (min-width: $tablet) {
      top: 81px;
      left: 68px;
    }
  }

  span {
    font-size: $font-size-16;
    font-weight: 700;

    line-height: 16.41px;

    @media (min-width: $tablet) {
      min-width: 60px;
      line-height: 18.75px;
    }
  }

  b {
    margin-top: 12px;
  }

  p {
    margin-top: 8px;

    @media (min-width: $tablet) {
      line-height: 20.8px;
    }
  }
}

.steps-list__item + .steps-list__item {
  margin-top: 8px;

  @media (min-width: $mobile-land) {
    margin-top: 16px;
  }

  @media (min-width: $tablet) {
    margin-top: 32px;
  }
}

.steps-list__item:last-child {
  &::after {
    display: none;
  }
}
