$basic-font-family: "Roboto", "Helvetica", sans-serif;
// $special-font-family: "Oswald", "Tahoma", sans-serif;

$basic-blue: #0f2f95;
$basic-darkgray: #383838;
$basic-gray: #f2f2f2;
$basic-white: #ffffff;
$basic-dark: #000000;
$basic-orange: #f5543f;
$basic-black: #383838;

$special-gray: #cdcdcd;
$special-gray-2: #ebebeb;
$special-dark-gray: #444444;
$special-dark-gray-2: #222222;

$basic-background: #f7f9fc;

$font-size-14: 14px;
$font-size-16: 16px;
$font-size-24: 24px;

$desktop: 1920px;
$laptop: 1280px;
$tablet-land: 1024px;
$tablet: 767px;
$mobile-land: 576px;
