.wrapper {
  margin: 0 auto;
  width: 304px;

  @media (min-width: $mobile-land) {
    width: 536px;
  }

  @media (min-width: $tablet) {
    width: 707px;
  }

  @media (min-width: $tablet-land) {
    width: 958px;
  }

  @media (min-width: $laptop) {
    width: 1120px;
  }

  @media (min-width: $desktop) {
    width: 1170px;
  }
}
